/* general rules */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Open Sans', sans-serif;
}

/* nav rules */
nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 80px;
    width: 100%;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 9999;
    background-color: white;
}

nav ul {
    list-style: none;
    display: flex;
    align-items: center;
    cursor: pointer;
}

.nav-left {
    display: flex;
    align-items: center;
}

nav img {
    margin: 0 20px;
}

nav li {
    height: 80px;
    line-height: 80px;
    margin: 0 20px;
}

#inizia {
    background-color: #0061ff;
    color: white;
    padding: 5px 15px;
}

.nav-right li:last-child {
    margin: 0 20px 0 0;
}

/* header rules */
header {
    margin-top: 80px;
    height: 740px;
    background-color: #b4d0e7;
}

.wrapper {
    max-width: 1150px;
    max-height: 100%;
    margin: 0 auto;
    padding-top: 70px;
}

h1 {
    font-size: 80px;
    font-weight: 800;
}

#jumbotron {
    margin-top: 50px;
    display: flex;
    justify-content: space-between;
}

.welcome {
    display: flex;
    flex-direction: column;
    width: 33%;
}

#free-trial {
    width: fit-content;
    margin: 30px 0;  
    padding: 10px 15px;
}


.btn{
    text-decoration: none;
    color: white;
    background-color: #0061ff;
}

#downward-arrow {
    margin-top: 70px;
    font-size: 50px;
    color: black;
}

#jumbo {
    width: 67%
}

#jumbo > img {
    width: 110%;
}

/* main rules */
.container {
    max-width: 1024px;
    margin: 0 auto
}

#plans {
    margin-top: 150px;
    font-size: 14px;
}

h2 {
    font-size: 40px;
    margin-bottom: 50px;
}

.time {
    margin-right: 50px;
}

#checked {
    font-size: 15px;
    color: #0061ff;
}

#unchecked {
    font-size: 15px;
    color: rgb(128, 128, 128, 0.4);
}

#plan-columns {
    display: flex;
    justify-content: space-between; 
    margin: 50px 0;  
}

.col {
    width: 30%;
    border: 1px ridge grey;
}

.customer {
    text-align: center;
    width: 100%;
    height: 40px;
    line-height: 40px;
    border-bottom: 1px ridge grey;
}

.col-container {
    width: 80%;
    margin: 25px auto;
}

h3 {
    font-size: 24px;
    margin-bottom: 15px;
}

.price {
    color: #666666;
    line-height: 2.0;
}

.price > strong {
    color: black;
}

.features {
    margin: 50px 0;
    list-style: none;
}

.features > li {
    padding-left: 1.3em;
    margin: 20px 0;
}
  
.user:before {
    content: "\f007";
    font-family: FontAwesome;
    display: inline-block;
    margin-left: -1.3em;
    width: 1.3em;
}

.users:before {
    content: "\f0c0";
    font-family: FontAwesome;
    display: inline-block;
    margin-left: -1.3em;
    width: 1.3em;
}


.folder:before {
    content: "\f07b";
    font-family: FontAwesome;
    display: inline-block;
    margin-left: -1.3em;
    width: 1.3em;
}

.share:before {
    content: "\f1e0";
    font-family: FontAwesome;
    display: inline-block;
    margin-left: -1.3em;
    width: 1.3em;
}

.month-trial {
    display: inline-block;
    width: 100%;
    height: 40px;
    line-height: 40px;
    text-align: center;
    vertical-align: middle;
}

.buy-now {
    margin: 40px 0;
}

.buy-now > a {
    color:#0061ff;
}

.spacer {
    width:20%;
    height: 1px;
    border-top: 1px ridge gray;
}

.f-bottom > li:before {
    content: "\f00c";
    color: #0061ff;
    font-family: FontAwesome;
    display: inline-block;
    margin-left: -1.3em;
    width: 1.3em;
}

#plan-bottom {
    width: 100%;
    border: 1px ridge gray;
}

.plan_b-container {
    display: flex;
    justify-content: space-between;
    width: 94%;
    margin: 25px auto;
}

.plan-left {
    width: 68%;
}

.plan-left > p {
    margin-top: 50px;
}

.plan-right {
    width: 25%;
    text-align: end;
}